.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #284c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btn{
padding: 20px;
background: #E6F139;
text-transform:uppercase;
color: red;
font-size: 1em;
}

.list{
padding:0px;
}

.list .list-item{
padding: 5px 10px;
list-style: none;
border: 1px solid #fff;
margin-bottom:5px;
display:flex;
justify-content:space-between;
width: 20rem;
}

.list-item button{
background: green;
color: #fff;
border-radius: 10px;
border:1px solid green;
cursor:pointer;
}

form{
display:flex;
flex-direction:column;
width: 30rem;
margin:auto;
}

form input{
padding:10px;
margin: 3px 0px; 
}

form .btn{
padding: 10px 3px;
background: #FF0E;
color: red;
border: 1px solid #EF0E;

}

.dialog-box{

background: #0B5B26;
padding: 10px;
width: 30rem;
margin:auto;
}

.dialog-box .cl-btn{
  position: absolute;
  right:20px;
  background:red;
  color: #fff;
  border:none;
  top: 20px;
}

.dialog-box .name, .dialog-box .email, .dialog-box .phone{
display:flex;
justify-content: space-between;
padding:10px;
}

.wrapper{
padding-top: 10%;
position: absolute;
top:0;
bottom:0;
left:0;
right:0;
background: green;


}


.form-dialog{
background:green;
left:0;
right:0;
bottom:0;
top:0;
position:fixed;
padding-top:10%;
}

.form-dialog .cl-btn{
position: absolute;
  right:20px;
  background:red;
  color: #fff;
  border:none;
  top: 20px;

}
